<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestNG Test">
    <parameter name="BaseURL" value="http://www.centralhk.com:9090"/>
    <parameter name="Browser" value="chrome"/>
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <!--<listener class-name="com.hk.reportAndMailGenerator.ReportListener"/>-->
    </listeners>
    <!-- <test name="ExistingUserOrderOnline">
       <classes>
           <class name="com.hk.orderPlacement.ExistingOnlineOrder"/>
       </classes>
   </test> -->
    <!--<test name="com.hk.orderPlacement.SignupCodOrder">
        <packages>
            <package name="com.hk.orderPlacement"/>
        </packages>
    </test>-->
    <test name="com.hk.orderPlacement.SignupCodOrder">
        <classes>
            <class name="com.hk.orderPlacement.SignupCodOrder"/>
        </classes>
    </test>
    <test name="com.hk.orderPlacement.SignupOrderOnline">
        <classes>
            <class name="com.hk.orderPlacement.SignupOrderOnline"/>
        </classes>
    </test>
   <!-- <test name="ExistingOnlineOrder">
            <classes>
                <class name="com.hk.orderPlacement.ExistingOnlineOrder"/>
            </classes>
        </test>-->
        <!--<test name="SignUpAndOrderCard">
            <classes>
                <class name="com.hk.orderPlacement.SignUpAndOrderCard"/>
            </classes>
        </test>
        <test name="SignUpAndOrderCOD">
            <classes>
                <class name="com.hk.orderPlacement.SignUpAndOrderCOD"/>
            </classes>
        </test>-->
</suite>